.footer {
  background: #0063dd;
}
.footer__container {
}
.footer__body {
  padding: 50px 0 44px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footeer_text {
  flex: 0 1 35%;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.footer__menu {
  flex: 1 1 auto;
}
.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.footer__item {
  padding-right: 40px;
}
.footer__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.footer__social {
  flex: 0 1 15%;
  margin-left: 40px;
}
.footer__social img {
  padding-left: 15px;
}
@media (max-width: 1200px) {
  .footeer_text {
    flex: 1 1 100%;
    padding-bottom: 10px;
  }
  .footer__list {
    justify-content: flex-start;
  }
}
@media (max-width: 992px) {
  .footer__list {
    flex: 1 1 100%;
    padding-bottom: 20px;
  }
  .footer__item {
    padding: 0 20px;
    padding-top: 20px;
  }
  .footer__body {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
