.howto {
  background: #f5fcfd;
}
.howto__container {
}
.block-text {
  padding: 119px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-text__title {
  font-weight: normal;
  font-size: 32px;
  line-height: 250%;
}
.block-text__text {
  max-width: 722px;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}
.howto__body {
  padding: 45px 0 107px 0;
}
.howto__column {
}
.howto__item {
  box-shadow: none;
  padding: 0;
  justify-content: flex-start;
  text-align: center;
  background: none;
}
.howto__icon {
  width: 100px;
  height: 100px;
  position: relative;
}
.howto__icon2 {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.howto__icon2::before {
  content: "  ";
  position: absolute;
  width: 680px;
  border: 2px dashed #0f7bff;
}
@media (max-width: 992px) {
  .howto__icon2::before {
    display: none;
  }
}
.howto__title {
}
.howto__text {
}
@media (max-width: 992px) {
  .block-text {
    padding: 80px 0px 0px 0px;
  }
  .howto__body {
    padding: 45px 0 80px 0;
  }
}
@media (max-width: 767px) {
  .block-text {
    padding: 50px 15px 0px 15px;
  }
  .howto__body {
    padding: 45px 0 50px 0;
  }
  @media (max-width: 420px) {
    .block-text__title {
      font-size: 28px;
      line-height: 200%;
    }
  }
}
