@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
@import url("/css/page.css");
@import url("/css/services.css");
@import url("/css/person.css");
@import url("/css/howto.css");
@import url("/css/price.css");
@import url("/css/news.css");
@import url("/css/trial.css");

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 300;
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1146px;
  margin: 0px auto;
}
.header__container {
  display: flex;
  height: 100px;
  align-items: center;
  margin: 0 auto;
  padding: 0 140px;
  justify-content: space-between;
}
@media (min-width: 1930px) {
  .header__container {
    max-width: 1930px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .header__container {
    padding: 0 100px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .header__container {
    padding: 0 50px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .header__container {
    padding: 0 15px;
  }
}
.header {
  /* flex: 0 0 100px; */
  z-index: 50;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 179px;
  background: #0f7bff;
  border-radius: 0px 0px 21.5px 21.5px;
}
.header__name {
  font-size: 36px;
  font-weight: bold;
  color: white;
}
.header__menu {
  margin: 0px 52px 0px 0px;
  flex-grow: 1;
}
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.menu__item {
  margin: 0px 0px 0px 30px;
}
@media (max-width: 850px) {
  .menu__item {
    flex: 0 1 25%;
  }
  .menu__list {
    justify-content: start;
  }
}
.menu__link {
  color: #929292;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.menu__link_active {
  color: #0f7cff;
}
.header__signup {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0063dd;
  border-radius: 25px;
  height: 50px;
  padding: 0 51px;
}
.header__button {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: white;
}

/*--------------Page--------------------------*/

/*--------------services--------------------------*/

/*------------Person----------------------------*/

/*------------HowTo----------------------------*/

footer {
  flex: 0 0 200px;
  background: #0063dd;
}
