.page__trial {
}
.trial {
  background: #f5fcfd;
}
.trial__container {
}
.trial__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 133px;
  padding-bottom: 113px;
}

.trial__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

.trial__title p {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  padding-top: 25px;
}

.trial__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 50px;
  margin-left: 154px;
  background: #0f7bff;
  border-radius: 25px;
}

.trial__button-text {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: white;
}
.trial__button-text img {
  padding-left: 15px;
}

@media (max-width: 992px) {
  .trial__body {
    flex-direction: column;
    padding: 30px 15px;
  }
  .trial__button {
    margin: 20px 0;
  }
}
